body {font-family:  'Open Sans', sans-serif;
          letter-spacing:1px;
          text-align:left;
          font-weight: 300;
          color: #000000;
          background-color:#ffffff;}
          
table {border:0px;
       padding:0px 10px;
       margin:0px;
       text-align:left;}

td    {font-family: 'Open Sans', sans-serif;
       vertical-align:top;
       padding-top:7px;
       font-size:12px;}
          
a     { font-family: 'Open Sans', sans-serif;
         text-decoration:none;
         font-weight: 400;
         color:#004488;}
         
h3    {position:relative;
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        font-weight: 300;
        margin-bottom:10px;
        margin-top:30px;
        color: #000000;}        
        
h4    {position:relative;
       font-family: 'Open Sans', sans-serif;
       font-size:14px;
       font-weight: 300;
       margin-bottom:0px;
       padding: 0px 10px;
       color: #336699;}       
        
p     {font-size:13px;
          line-height: 1.4;
        font-family: 'Open Sans', sans-serif;
        text-align:justify;
        line-height:20px;
        font-weight:300;
        margin:0px;
        padding:0px 10px;}
          
div   {position:relative;
         border:0px;
         margin:0px;
         padding:0px;}

div#central {width:775px;
         margin-left: auto;
	margin-right: auto;}
	
div#header  {border-bottom: 1px solid #bbbbbb;
          overflow:auto;
          padding:5px;
          padding-top:15px;}     
          
div#navigation {position:relative;
                float:left;
                width:190px;
                text-align:left;
                padding-top:30px;
                padding-right:2px;
                padding-left:2px;}           
                  
div#main {float: right;
              min-height:400px; 
              height:auto !important; 
              height:400px; 
              width: 559px;
              padding-left:20px;
              padding-right:2px;
              text-aling:left;}     
              
div#lower    {float:left;
              font-size:10px;
              font-family: 'Open Sans', sans-serif;
              width:765px;
              border-top:1px solid #bbbbbb;
	     padding:2px 5px;
	     margin: 30px 0px;
              color:#333333;
              overflow:visible;
              height:50px;}
              
div.section{ width:559px;}
                            
div.navtitle {font-family: 'Open Sans', sans-serif;
	     margin-bottom:5px;
              margin-top:10px;
              padding:2px;
              padding-left:4px;
              border-bottom:1px solid #999999;         
              font-size:11px;
              font-weight: 400;
              color: #004488;}

div.navtitle a { color:#004488;
                 font-weight: 400;}                       
                            
div.navtitle a:hover {color: #dd6600;  }               
              
div.navinfo { font-family: 'Open Sans', sans-serif;
              padding:2px;
              padding-left:4px;
              font-size:11px;
              font-weight: 400;
              line-height:14px;}        

div.navinfo a {color:#000000;}

div.navinfo a:hover {color: #dd6600; }

.hidden { display: none; }
.unhidden { display: block; }

